header > h1 {
    font-family: 'Geologica', sans-serif;
    /* color: blue; */
    font-weight: 600;
    background: -webkit-linear-gradient(left top, #B0CC99, #FEC0A9);
  background: linear-gradient(to bottom right, #B0CC99, #FEC0A9);
  background-clip: text; 
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
}

header {
    display: flex;
    justify-content: center;
}

.register-label {
    display: flex;
    flex-direction: column;
}

.register-label>label {
    padding-top: 8px;
}

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form>div {
    padding-top: 5px;
}

.main-section {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.control-label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .pruebita {
    display: flex;
    flex-direction: column;
} */

.probando {
    background-color: aqua;
}

.control-prueba {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.show-device-desktop{
    display: none;
}

.show-device-mobile{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
    background: aquamarine;
    padding: 1em;
    border-radius: 1em;
    margin: .5em;
}
.card-container{
    display: flex;
    flex-direction: column;
}

span {
    font-weight: bold;
}

.detail-container {
    margin-top: 20px;
}

.btn {
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(254, 192, 169) 0%, rgba(176, 204, 153) 100%);
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(176, 204, 153) 0%, rgba(254, 192, 169) 100%);
}

.btn-container {
    padding: 20px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .show-device-desktop{
        display: flex;
        flex-direction: column;
    }
    
    .show-device-mobile{
        display: none;
    }
    

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}